
*.bak

*-checkpoint.ipynb
*-checkpoint.py
*-checkpoint.txt

/Geodata_ELGW
/Material

/Feasibility/*/*.shp*
/Feasibility/*/*.shx
/Feasibility/*/*.dbf
/Feasibility/*/*.prj
/Feasibility/*/*.sbn
/Feasibility/*/*.sbx
/Feasibility/*/*.cpg

/Requirement_Invest/*/*.pdf
/Requirement_Invest/*/*.jpg
*.pyc
